{% extends "base.html.twig" %}

{% block title %}
    BlogSymfony | Détails de l'article
{% endblock %}

{% block body %}
    
    <h1 class="text-center my-5">Détails de l'article</h1>

    <div class="col-md-12">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Design</strong>
                <h3 class="mb-0">Post title</h3>
                <div class="mb-1 text-muted">Nov 11</div>

                <p class="card-text mb-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam dolore, nostrum libero facere officia, voluptatum corporis suscipit doloribus a laudantium eveniet nulla, asperiores nisi explicabo unde quo! Mollitia optio atque facilis error! Unde deleniti necessitatibus quibusdam ab minima ex eos in ipsam iusto, similique dolores sint, laborum quo repudiandae nihil fuga? Repellendus blanditiis, tempora optio at amet nostrum earum suscipit error quas perspiciatis possimus temporibus praesentium facilis quos aperiam quis dignissimos eligendi deleniti et dolore, ut rerum! Cupiditate accusamus delectus eaque animi, corporis, consequatur harum veniam recusandae corrupti voluptas fugit, maiores minima quidem ipsa modi! Velit sint labore sequi magni officiis accusamus maiores itaque eum saepe iure! At, doloribus cumque. Similique fuga earum sequi impedit eveniet voluptas nemo hic tempore, vitae enim placeat dignissimos fugiat natus nulla sed animi at minima veritatis qui corporis sunt iure recusandae. Reprehenderit quidem, expedita deserunt, illo amet non velit quaerat ducimus impedit atque placeat?</p>

                <p class="card-text mb-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam dolore, nostrum libero facere officia, voluptatum corporis suscipit doloribus a laudantium eveniet nulla, asperiores nisi explicabo unde quo! Mollitia optio atque facilis error! Unde deleniti necessitatibus quibusdam ab minima ex eos in ipsam iusto, similique dolores sint, laborum quo repudiandae nihil fuga? Repellendus blanditiis, tempora optio at amet nostrum earum suscipit error quas perspiciatis possimus temporibus praesentium facilis quos aperiam quis dignissimos eligendi deleniti et dolore, ut rerum! Cupiditate accusamus delectus eaque animi, corporis, consequatur harum veniam recusandae corrupti voluptas fugit, maiores minima quidem ipsa modi! Velit sint labore sequi magni officiis accusamus maiores itaque eum saepe iure! At, doloribus cumque. Similique fuga earum sequi impedit eveniet voluptas nemo hic tempore, vitae enim placeat dignissimos fugiat natus nulla sed animi at minima veritatis qui corporis sunt iure recusandae. Reprehenderit quidem, expedita deserunt, illo amet non velit quaerat ducimus impedit atque placeat?</p>

                <p class="mt-3">
                    <a href="#" class="btn btn-dark">Modifier</a>
                    <a href="#" class="btn btn-dark">Supprimer</a>
                </p>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="https://picsum.photos/300/650" alt="Picsum">
            </div>
        </div>
    </div>

{% endblock %}